nodered_flow.json
[{"id":"61c0a5e8.c06dec","type":"tab","label":"SYNTHE","disabled":false,"info":""},{"id":"d0275101.3c744","type":"function","z":"61c0a5e8.c06dec","name":"Json synthe ON","func":"msg.payload = {\"titre\" : flow.get(\"synthe\"), \"type\" : \"synthé_dlns\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":200,"wires":[["c9283358.358d7"]]},{"id":"1e1225da.bd8ee2","type":"ui_button","z":"61c0a5e8.c06dec","name":"","group":"1ce4f4c1.1c773b","order":7,"width":2,"height":1,"passthru":false,"label":"BANNER ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":200,"wires":[["d0275101.3c744"]]},{"id":"cd63038f.98412","type":"function","z":"61c0a5e8.c06dec","name":"Json synthe OFF","func":"msg.payload = {\"titre\" : flow.get(\"synthe\"), \"type\" : \"synthé_dlns_off\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":280,"wires":[["c9283358.358d7"]]},{"id":"a0336e97.b7e128","type":"ui_button","z":"61c0a5e8.c06dec","name":"","group":"1ce4f4c1.1c773b","order":8,"width":2,"height":1,"passthru":false,"label":"BANNER OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":280,"wires":[["cd63038f.98412"]]},{"id":"c9283358.358d7","type":"json","z":"61c0a5e8.c06dec","name":"","property":"payload","action":"","pretty":false,"x":690,"y":340,"wires":[["dd043dad.500b4"]]},{"id":"dd043dad.500b4","type":"websocket out","z":"61c0a5e8.c06dec","name":"","server":"391cf1df.b3b416","client":"","x":840,"y":340,"wires":[]},{"id":"c031ccaa.a4c25","type":"http in","z":"61c0a5e8.c06dec","name":"","url":"/banner","method":"get","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["906dd09f.180ee"]]},{"id":"906dd09f.180ee","type":"template","z":"61c0a5e8.c06dec","name":"Banner Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Alert Live Display</title>\n    <style>\n        .synthé_1 { height: 100%; width: 0px; background-color: white; position: absolute; top: 0px; left: 0px;\n        }\n        .synthé_2 { height: 60px; width: 30px; background-color: black; position: absolute; top: 0px; left: 0px; opacity: 0;\n        }\n        .bloc { height: 60px; width: auto; position: absolute; top: 10px; left: 20px;\n        }\n        #synthé_titre {\n         color: black; text-transform: uppercase; font-size: 300%; margin: 0px 10px 0px 10px; font-family: Tahoma, sans-serif; text-overflow: clip; overflow: hidden; white-space: nowrap; font-weight: bold;\n        }\n        #synthé_titre_invisible {\n         color: black; text-transform: uppercase; font-size: 300%; margin: 0px 10px 0px 10px; font-family: Tahoma, sans-serif; text-overflow: clip; overflow: hidden; white-space: nowrap; opacity: 0; font-weight: bold;\n        }\n    </style>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <div class=\"bloc\">\n            <p id=\"synthé_titre_invisible\">Une news exceptionelle ! Qui va vous scotcher le fion à votre chaise c'est pas stylé ça ?</p>\n            <div class=\"synthé_1\">\n                <div class=\"synthé_2\"></div>\n                <p id=\"synthé_titre\">Une news exceptionelle ! Qui va vous scotcher le fion à votre chaise c'est pas stylé ça ?</p>\n                \n            </div>\n            \n        </div>\n        <script src=\"http://YOUR_NODERED_IP:1880/anime.min.js\"></script>\n        <script>\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n\n        console.log(loc);\n        if (loc.protocol === \"http:\") { wsUri = \"ws:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/alert\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"banner\",\"ws/banner\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                if(JSON.parse(msg.data).type == \"synthé_dlns\"){\n    \t\t\t    document.getElementById(\"synthé_titre\").innerHTML = JSON.parse(msg.data).titre;\n    \t\t\t    document.getElementById(\"synthé_titre_invisible\").innerHTML = JSON.parse(msg.data).titre;\n    \t\t\t\tconsole.log(\"is ok go dlns\");\n    \t\t\t\ttldlns.play();\n    \t\t\t\tconsole.log(\"animation dlns\");\n    \t\t\t\ttldlns.finished.then(function() {\n    \t\t\t        console.log(\"end animation dlns\");\n    \t\t\t\t});\n\t\t\t    }\n\t\t\t\telse if(JSON.parse(msg.data).type == \"synthé_dlns_off\"){\n    \t\t\t\ttldlns.reverse();\n\t\t\t\t\ttldlns.play();\n\t\t\t\t\ttldlns.finished.then(function() {\n    \t\t\t        tldlns.reverse();\n    \t\t\t\t});\n\t\t\t    }\n            }\n            ws.onopen = function() {\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n\n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n\t\t\t\n\t\tvar tldlns = anime.timeline({\n          easing: \"easeOutExpo\",\n          duration: 450,\n\t\t  loop: false,\n          autoplay: false\n        });\n\n        tldlns\n\t\t  .add(\n            {\n              targets: \".synthé_2\",\n              opacity: 1,\n\t\t\t  easing: \"easeInOutQuad\",\n              duration: 10,\n            },0)\n\t\t  .add(\n            {\n              targets: \".synthé_2\",\n              opacity: 0,\n\t\t\t  easing: \"easeInOutQuad\",\n              duration: 10,\n            },100)\n\t\t  .add(\n            {\n              targets: \".synthé_2\",\n              opacity: 1,\n\t\t\t  easing: \"easeInOutQuad\",\n              duration: 10,\n            },200)\n\t\t  .add(\n            {\n              targets: \".synthé_2\",\n              opacity: 0,\n\t\t\t  easing: \"easeInOutQuad\",\n              duration: 10,\n            },300)\n\t\t  .add(\n            {\n              targets: \".synthé_2\",\n              opacity: 1,\n\t\t\t  easing: \"easeInOutQuad\",\n              duration: 10,\n            },400)\n          .add({\n            targets: \".synthé_1\",\n            width: \"100%\",\n            duration: 400,\n            easing: \"easeInOutQuad\"\n            },400)\n          .add(\n            {\n              targets: \".synthé_2\",\n              left: \"100%\",\n              duration: 300\n            },400);\n\t\t\t\n\t\tvar tldlns_off = anime.timeline({\n          easing: \"easeOutExpo\",\n          duration: 450,\n\t\t  loop: false,\n          autoplay: false\n        });\n\n    </script>\n    </body>\n</html>\n","x":350,"y":140,"wires":[["9ba16db1.82cc2"]]},{"id":"3d8b30b8.c82de8","type":"websocket in","z":"61c0a5e8.c06dec","name":"","server":"391cf1df.b3b416","client":"","x":160,"y":80,"wires":[["bbab1f70.382f28"]]},{"id":"bbab1f70.382f28","type":"debug","z":"61c0a5e8.c06dec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":80,"wires":[]},{"id":"9ba16db1.82cc2","type":"http response","z":"61c0a5e8.c06dec","name":"","statusCode":"","headers":{},"x":510,"y":140,"wires":[]},{"id":"999dd334.3157d","type":"ui_text_input","z":"61c0a5e8.c06dec","name":"","label":"BANNER CONTENT","tooltip":"","group":"1ce4f4c1.1c773b","order":1,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":180,"y":340,"wires":[["d7e139fc.e0c34"]]},{"id":"d7e139fc.e0c34","type":"change","z":"61c0a5e8.c06dec","name":"","rules":[{"t":"set","p":"synthe","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":340,"wires":[[]]},{"id":"1ce4f4c1.1c773b","type":"ui_group","name":"DLNS","tab":"d0198294.f7178","order":1,"disp":true,"width":"20","collapse":false},{"id":"391cf1df.b3b416","type":"websocket-listener","path":"/ws/banner","wholemsg":"false"},{"id":"d0198294.f7178","type":"ui_tab","name":"DLNS","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
